* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  padding: 20px;
  padding: 20px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
}
body {
  margin-top: 50px;
  background-image: linear-gradient(-45deg, #173f73, #153259, #152840, #0d0d0d);
  background-attachment: fixed;
  padding-bottom: 20px;
}
.imagemmenu {
  display: flex;
  margin-right: 808px;
  width: 200px;
  height: 150px;
  background-color: #ffff;
}
.video {
  padding: 50px;
  background-color: white;
  /*  margin-left: 400px;*/
}

.form {
  width: 400px;
}
.menunav {
  margin-top: 100px;

  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-weight: bold;
}
.card {
  width: 150%;
  height: 488px;
  float: left;
  background-color: white;
  padding: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-bottom: 30px;
}
button {
  background-color: #a81313;
  box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc;
  width: 70%;
  height: 40px;
  border-radius: 20px;
  color: #ccc;
  border: 0px;
  outline: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
label {
  margin-top: 20px;
  width: 170%;
  color: rgb(75, 75, 75);
  display: block;
}
.submit2 {
  background-color: #9a7519;
  box-shadow: 1px 1px 5px #ccc;

  width: 70%;
  height: 40px;
  border-radius: 20px;
  color: #ccc;
  border: 0px;
  outline: 0;
  margin-top: 10px;
  text-align: center;
  font-size: small;
  font-family: "Raleway", sans-serif;
}
input {
  border-radius: 5px;
  outline: 0;
  width: 70%;
  width: 70%;
  height: 30px;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}
h1 {
  background-color: #ffff;
  text-align: center;
  font-size: 3.5rem;
  padding-top: 160px;
  font-weight: bold;
  color: #172b4d;
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: #172b4d;
  text-decoration: none;
}
label {
  color: #172b4d;
}
.linhacinza {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
}
h2 {
  font-size: 1.2rem;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #172b4d;
  color: #172b4d;
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 14px;
  background-color: #ffff;
  padding: 50px;
}
.required-popup::after {
  content: "*Campo obrigatório";
  position: inherit;
  color: #ffffff;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
  border-radius: 20px;
  width: 100px;
}
input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}
input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}
.visible {
  display: none;
}
