*{
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #718b6d;
}

header {
    background-color: #d3d3d3b7;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
  }
  
  ul {
    display: flex;
    height: 100%;
    align-items: center;
  }

  









































