img {
    margin: 0px 0px 0px 0px;
}

h1 {
    background-color: rgb(61, 246, 228);
    margin: 2px 50px 50px 100px;
}

label {
    margin: 50px 2px 50px 100px;
}

iframe {
    margin: 2px 2px 50px 200px;
}

h2 {
    margin: 30px 30px 30px 400px;
    background-color: rgb(165, 254, 245);
}

li {
    margin: 30px 30px 30px 400px;
}