/*Resetamos as configurações  iniciais dos novegadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*box sizing o tamanho total do elemento é calculado incluindo o preenchimento e a borda, mas excluindo as margens. Isso significa que: o tamanho que for definido para largura e altura do elemento incluirá o preenchimento e a borda, e o conteúdo interno não será dimensionado além desse tamanho.*/
}

.back {
  /*border: 3px solid green;*/
  background-image: linear-gradient(-45deg, #173F73, #153259, #152840, #0D0D0D);
  background-attachment: fixed;
  padding-bottom: 20px; /*adiciona um padding na div de background para que o quadro branco fique flutuante sem enconsta na borda da tela*/
}

/* Remove a linha abaixo de hiperlnks e define a cor padrão para os links*/
a {
  text-decoration: none;
  color: #172B4D;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: Charl;
  /*definindo a fonte padrão para todo texto dentro do body da pagina*/
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
}

.navi {
  /*estilizando os elementos do nav*/
  display: flex;
  list-style: none;
  /*remove as bolinhas dos marcadores da lista*/
  gap: 30px;
  /*adiciona espaço entre os elementos*/
  align-items: center;
  font-weight: bold;
  color: #172B4D;
}

header {
/*border: 3px solid pink;*/
 margin-top: 10px;
 margin-left: 100px;
 margin-right: 100px;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-size: 46px;
  color: #ffffff;
}

.titulo-principal {
  /*border: 1px solid green;*/
  padding: 20px;
  margin-left: 100px;
  width: 600px;
}


.img-dinamica {
  /*border: 3px solid red;*/
  background-image: url(./assets/topland.png);
  background-size: cover;
  height: 600px;
}

.h2caption {
  /*border: 1px solid red;*/
  color: #ffffff;
  padding: 100px;
  width: 600px;
}

.subtitle {
  font-size: 18px;
  background-color: #ffffff;
  text-align: center;
  color: #172B4D;;
}

.flex-container {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
}

.flex-item {
  width: calc(50% - 10px); /* 50% de largura para criar 2 colunas e subtrai 10px para o espaçamento entre os itens */
  margin-bottom: 20px;
  box-sizing: border-box;
  font-weight: bold;
  color: #172B4D;
  align-items: center ;
}

.listicons {
  /*define tamanho e alinhamento dos pequenos icones*/
  width: 20px;
  align-items: center;
}

footer {
  /*desenha area do footer para se destacar do fundo */
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 0px 0px 10px 10px;
  background: #ffffff;


}

.footer-menu,
 ul  {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.footer-margin {
  padding: 5px;
  background-color:rgba(128, 128, 128, 0.5);

}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

/*Paleta Cores para elementos
/*1-hex { color: #008744; }
/*2-hex { color: #0057E7; }
/*3-hex { color: #D62D20; }
/*4-hex { color: #FFA700; }
/*5-hex { color: #FFFFFF; }
/*Cores simples não usadas*/
/*Monograph-Concept-1-hex { color: #0A0B0D; }
/*Monograph-Concept-2-hex { color: #1C2026; }
/*Monograph-Concept-3-hex { color: #2E5959; }
/*Monograph-Concept-4-hex { color: #8FA6A1; }
/*Monograph-Concept-5-hex { color: #D9CBBA; }
