@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Maven+Pro&family=Roboto&display=swap');

header {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul li {
    list-style: none;
}

form {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}


form label,
form input,
form textarea,
form button {
    display: block;
    margin: 10px auto; 
}


form button {
    background-color: #555;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}


form button:hover {
    background-color: #777;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./imgpg5/image0_0.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(255, 255, 255, 0.3);
}


nav a, footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}

.comentarios {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.comentario {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
