* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back {
  background-image: linear-gradient(-45deg, #173f73, #153259, #152840, #0d0d0d);
  background-attachment: fixed;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #172b4d;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: Charl;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
}

.navi {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  font-weight: bold;
  color: #172b4d;
}

header {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-size: 46px;
  color: #ffffff;
}

.titulo-principal {
  padding: 20px;
  margin-left: 100px;
  width: 600px;
}

.img-dinamica {
  background-image: url(./assets/topland.png);
  background-size: cover;
  height: 600px;
}

.h2caption {
  color: #ffffff;
  padding: 100px;
  width: 600px;
}

.subtitle {
  font-size: 18px;
  background-color: #ffffff;
  text-align: center;
  color: #172b4d;
}

.flex-container {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
}

.flex-item {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  font-weight: bold;
  color: #172b4d;
  align-items: center;
}

.listicons {
  width: 20px;
  align-items: center;
}

footer {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 0px 0px 10px 10px;
  background: #ffffff;
}

.footer-menu,
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.footer-margin {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.5);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
