*{
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  height: 60px;
  border-radius: 10px 10px 0px 0px ;
  }

.navegacao{
display: flex;
list-style: none;
gap: 30px;
align-content: center;
color: #172b4d;
font-weight: bold;
}


.fundo{
background-image: linear-gradient(-45deg, #173f73, #153259, #152840, #0d0d0d);
background-attachment: fixed;
}

main{
margin-left: 100px;
margin-right: 100px;
}
.cadastro{
  /* 
  border: 5px solid red;*/  
  background-color: white;
 
}

h1{
  color: #172b4d;
  margin: 100px;

}

.sessao-1{
  display: flex;
  background-color: white;
  align-items: center;
  margin-bottom: 0px;
  flex-wrap: wrap;
  padding: 100px;
  box-sizing: border-box;
}

header {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    }
  

    /* codigo nao usavel
  ul {
      display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
  */
  
  .footer-margin {
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5);
  }

  footer{
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    border-radius: 0px 0px 10px 10px;

  }

  #social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
  }
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
  }








































