#map {
  border: 10px solid white;
  height: 400px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
}

.custom-map-control-button {
  color: #000000;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}
